@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-size: 25px;
    /* rem size is relative to this number */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kode Mono",serif;
}